.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.nav-section{
    height: 80px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    color: #131313;
    font-weight: 700;
    font-size: 40px;
}
.logo:hover{
    color: #424242;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.nav-menu a{
    text-decoration: none;
    margin-left: 1em;
    color: #424242;
}

.nav-menu img{
    width: 40px;
}